*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: sans-serif;
}
header{
  padding: 2rem;
  text-align: center;
  background-color: #f02e65;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.userDetails{
  padding: 2rem;
  text-align: center;
  font-size: 1.3rem;
}
.userDetails button{
  background-color: #f02e65;
  color: white;
  outline: none;
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  margin: 1rem;
}
